<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vlad.personalwallet">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/flat_wallet"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsumptionMoney"
            android:label="Ваши расходы"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".IncomeMoney"
            android:label="Ваши доходы"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Calculator"
            android:label="Калькулятор" />
        <activity
            android:name=".Category"
            android:label="Категории" />
        <activity
            android:name=".AllCosts"
            android:label="Все расходы" />
        <activity android:name=".ListCategoryEvent" />
        <activity
            android:name=".ChangeEvent"
            android:label="Изменить запись"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AllIncome"
            android:label="Все доходы" />
        <activity
            android:name=".Balance"
            android:label="Сумма баланса" />
        <activity android:name=".CurrencyRates"
            android:windowSoftInputMode="stateHidden"
            android:label="Валюта"></activity>
    </application>

</manifest>
