<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vlad.mywallet">
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/flat_wallet"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsumptionMoney"
            android:label="Ваши расходы"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".IncomeMoney"
            android:label="Ваши доходы"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Calculator"
            android:label="Калькулятор"></activity>
        <activity
            android:name=".Category"
            android:label="Категории"></activity>
    </application>


</manifest>
